.generate-ship-name-dialog-colors {
  width: 30em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0.25em;

    &:has(input[type="radio"]:checked) {
      background: #333;
    }

    input {
      margin: 0;
      visibility: hidden;
      width: 0;
    }
  }

  label {
    cursor: pointer;
  }

  .flag {
    display: inline;
    height: 1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
  }
}

.revolutionary-piratenames-ship-whisper {
  font-size: 125%;
  font-style: italic;
  text-align: center;

  img {
    margin: 0 auto 1em;
    width: 50%;
  }
}
